@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.judgeinfo-container {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(120deg, #ffbd00 0%, #ffc875 100%);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 800px;
  margin: 0 auto;
  color: #000000;
}

.judgeinfo-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

p {
  font-size: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

hr {
  border-color: #000000;
}
